<div class="row">
  <div class="col-md-12 my-5" style="text-align: center">
    <h1>Welcome to Posts</h1>
  </div>

  <div class="col-md-8">
    <table class="table" *ngIf="this.posts$ | async as postData">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let post of postData; let i = index">
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <button class="btn btn-warn" (click)="onDeleteClicked(post.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <app-add-edit-post></app-add-edit-post>
  </div>
</div>
